*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* make it look decent enough  */
  /* background: #232323; */
  color: #cdcdcd;
  font-family: 'Avenir Next', 'Avenir', sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 35px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: tomato;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 100px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: translate(-100%, 0);
  opacity: 1;
}

#menuToggle {
  position: fixed;
  left: calc(100vw - 70px);
  top: calc(100vh - 80px);
}

#menu {
  top: calc(-100vh + 100px);
  left: 70px;
  margin: 0;
  margin-top: -30px;
  height: 100vh;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

.topheader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  background-color: #fdfdfdcf;
  z-index: 11;
}

@media (max-width: 950px) {
  .topheader {
    display: block;
    text-align: center;
  }
}

.imglogo {
  padding: 15px;
}

@media (min-width: 768px) {
  .mobNav {
    display: none;
  }
}

/* 
DESKTOP 
Navigation menu */
.menuDesk {
  display: flex;
  line-height: 3vw;
  font-size: 1.2vw;
  flex-wrap: wrap;
}

@media (max-width: 950px) {
  .menuDesk {
    display: none;
  }
}

.aaa {
  padding: 15px;
}

.active {
  color: tomato;
}

/* Main Header image */
.cargo11 {
  width: 100%;
}

@media (min-width: 768px) {
  .cargo11 {
    margin: -136px auto;
  }
}

.fa-search {
  padding: 27px;
}

/* main content CSS Grid */
.mycontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 25px;
  grid-gap: 10px;
  column-gap: 10px;
  justify-items: center;
  grid-template-areas:
    'textBlock .'
    'blockSection1 blockSection1'
    'blockSection2 blockSection2'
    'blockSection3 blockSection3'
    'button1 button1';
}
/* .mycontainer p {
  font-size: 16px;
} */

@media screen and (min-width: 500px) {
  .mycontainer {
    grid-template-columns: repeat(3, 1fr);

    column-gap: 10px;
    grid-template-areas:
      ' textBlock . .  '
      ' blockSection1 blockSection2 blockSection3 '
      '. button1 .';
  }
}

@media screen and (min-width: 768px) {
  .mycontainer {
    grid-template-columns: repeat(11, 1fr);

    column-gap: 20px;
    grid-gap: 20px;
    grid-template-areas:
      ' textBlock . . . . . . . . . . '
      '. blockSection1 blockSection1 blockSection1 blockSection2 blockSection2  blockSection2 blockSection3 blockSection3 blockSection3 .  '
      '. . . . button1 button1 button1 . . . .  ';
  }
}

/* main content CSS Grid  2*/
.mycontainer2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background: url(img/road.jpg) no-repeat fixed #ccc;
  grid-template-areas:
    'aboutus skills'
    'forklift forklift'
    'contactf contactf';
}

@media screen and (min-width: 500px) {
  .mycontainer2 {
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
      ' aboutus aboutus skills  '
      ' forklift contactf contactf  ';
  }
}

@media screen and (min-width: 768px) {
  .mycontainer2 {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      'aboutus aboutus aboutus aboutus skills skills skills skills'
      ' forklift forklift forklift forklift contactf  contactf contactf .  '
      '. . . footer footer . . pageUp';
  }
}

/* block of 3 images dimension */
.imgBlock1-3 {
  background-color: #fff;
  width: 100%;
}
.blockSection1:hover,
.blockSection2:hover,
.blockSection3:hover {
  transition: all 1s ease-in-out 0s;
  transform: scale(1.1);
}

/* text block at header image left */
.textBlock {
  grid-area: textBlock;
}

.textBlock h2 {
  font-size: 4vw;
  color: white;
  text-align: center;
  background: rgba(3, 3, 3, 0.44);
  margin-top: -120px;
  padding: 10px;
}
@media (min-width: 768px) {
  .textBlock h2 {
    position: absolute;
    top: 500px;
    width: 25%;
  }
}

/* GRID 
AREA */
.blockSection1 {
  grid-area: blockSection1;
}

.box {
  background-color: #fff;
}

.blockSection2 {
  grid-area: blockSection2;
}

.blockSection3 {
  grid-area: blockSection3;
}

.button1 {
  grid-area: button1;
}

.about-us {
  grid-area: aboutus;
  background-color: rgba(54, 130, 182, 0.4);
  color: #fff;
  padding: 50px;
}
.about-us ul {
  list-style-type: none;
}

.about-us h2 {
  font-size: 4vw;
}

.skills {
  grid-area: skills;
  background-color: rgba(54, 130, 182, 0.4);
  padding: 50px;
}

.forklift {
  grid-area: forklift;
}

.contactf {
  grid-area: contactf;
  padding: 15px;
}

.footer {
  grid-area: footer;
}

.pageUp {
  grid-area: pageUp;
  font-size: 4vw;
}

.skills p {
  color: #fff;
  font-size: 4vw;
  text-align: center;
}

@media (min-width: 768px) {
  .skills p {
    font-size: 1.7vw;
    line-height: 2.8vw;
  }
}

.skills i {
  color: #fac312;
  font-size: 6vw;
}

@media (min-width: 700px) {
  .skills i {
    padding: 40px;
    font-size: 4vw;
  }
}

.blockSection1,
.blockSection2,
.blockSection3 {
  padding: 20px;
  box-shadow: 1px 0px 3px 0 #ddd;
  border: 1px solid #eee;
  color: #333;
}

.read-more1 {
  float: right;
  position: relative;
  margin-top: -39px;
}

/* read more buttons 1 of 3 */
.read-more1 span {
  display: block;
  background-color: #1b2936;
  color: #fff;
  text-transform: uppercase;
  padding-left: 15px;
  font-size: 12px;
  font-weight: 600;
  transition: all 0.2s ease 0s;
}

.read-more1:hover span {
  transform: translate(-15px, 0);
}

span i {
  background-color: #2f3840;
  padding: 12px 12px;
  font-size: 10px;
  margin-left: 15px;
}

.buttons1 {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 70px;
  border-radius: 25px;
  background-color: #fac312;
  color: #fff;
  cursor: pointer;
}

/* .forkImg {
  width: 100%;
} */

/* Contact 
form 
code */

.contactf h3 {
  margin-top: 140px;
  text-align: center;
  text-transform: uppercase;
  color: #404856;
}

#contact input[type='text'],
#contact input[type='email'],
#contact input[type='tel'],
#contact input[type='url'],
#contact textarea,
#contact button[type='submit'] {
}

#contact {
  padding: 25px;
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type='text'],
#contact input[type='email'],
#contact input[type='tel'],
#contact input[type='url'],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type='text']:hover,
#contact input[type='email']:hover,
#contact input[type='tel']:hover,
#contact input[type='url']:hover,
#contact textarea:hover {
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type='submit'] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4caf50;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type='submit']:hover {
  background: #43a047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type='submit']:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

.icons3 {
  text-align: center;
  padding: 70px;
}

/* #top {
  scroll-behavior: smooth;
} */
